.navbar{
  transition: 0.4s;
  position: fixed;
  overflow: auto;
  padding: 20px;
  height: 100%;
  width: 25%;
  height: 100%;
}
.navbar-btn{
  align-self: center;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 20px;
}
.navbar-btn:hover{
  color: #1f0913;
}
.open{
  animation: SlideIn linear 0.5s;
  animation-fill-mode: forwards;
}
.closed{
  animation: SlideOut linear 0.5s;
  animation-fill-mode: forwards;
}
.nav-items{
  margin-top: 50px;
  margin-left: 20px;
}
.navbar-item{
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  list-style: none;
}
.navbar-item-link{
  color: white;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none !important;
}
.navbar-item-link:hover{
  color: rgb(0, 0, 0);
}
.navbar-item-cur{
  background: rgba(0, 0, 0, 0.39);
}
@keyframes SlideIn {
  0%{
    background: none;
  }
  100%{
    background: #A85D49;
  }
}
@keyframes SlideOut {
  from{
    background: #A85D49;
  }
  to{
    background: none;
  }
}