nav {
  font-size: 13px;
  background: #16161F;
  width: 100%;
  height: 60px;
  margin: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.466);
  position: fixed;
  padding: 7px;
  display: flex;
}
.left-side-container{
  display: flex;
  margin-left: 50px;
  margin: none !important;
  padding: none;
}
.left-side-container img{
  width: 50px;
  height: 50px;
  align-self: center;
  margin-right: 20px;
}
.right-side-container{
  padding: 26px;
  position: absolute;
  right: 0; 
  margin-right: 50px;
}
.right-inner-container{
  align-self: center;
  align-items: center;
}
.styled-btn{
  border: 1px solid #F24957;
  padding: 10px 30px 10px 30px;
  background: none;
  border-radius: 10px;
  color: #C2C4D7;
  transition: 0.4s;
}
.styled-btn:hover{
  background: #F24957;
  color: #1A1B27;
}