@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #FBDCC5;
    color: #3E2421;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.main-content-container{
    padding: 30px;
    margin-left: 25%;
}