@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@1,700&display=swap');
body{
    background: #1A1B27;
    color: #C2C4D7;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}